{% extends 'base.html.twig' %}

{% block title %}Liste des sports olympiques{% endblock %}

{% block body %}

<h1>La liste des sports olympiques !</h1>
<a href="{{ path('home') }}">Retour a la page d'accueil</a>
<ul>
{% for sport in sports %}
    <li>{{ sport.nom }}</li>
    <code><strong>Description : </strong> {{ sport.description }}</code><br/>
    <code><strong>lieu : </strong> {{ sport.lieu }}</code><br/><br/>
{% endfor %}
</ul>

{% endblock %}
