{% extends 'base.html.twig' %}

{% block title %}Hello ListeSportsController!{% endblock %}

{% block body %}

<h1>La liste des sports olympiques !</h1>
<a href="{{ path('home') }}">Retour a la page d'accueil</a>
<ul>
{% for sport in sports %}
    <li>{{ sport.nom }}</li>
    <code>{{ sport.description }}</code><br/>
    <code>lieu : {{ sport.lieu }}</code>
{% endfor %}
</ul>

{% endblock %}
